* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:root {
  --btn-color: rgb(74, 74, 74);
  --btn-color-hover: rgb(128, 128, 128);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  padding-top: 5px;
  padding-bottom: 10px;
}

.fa-table-cells {
  padding-right: 5px;
}
.btn-gray {
  background-color: var(--btn-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: block;
}

.btn-gray:hover {
  background-color: var(--btn-color-hover);
  transition: all 0.3s ease-in-out;
}

.container {
  width: 90vw;
  height: 87%;
  min-width: 300px;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 15px;
}

.card {
  background: lightblue url("https://picsum.photos/200/100") no-repeat center;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: calc((100% / 7) - 6px);
  aspect-ratio: 3/1;
}
.card-name {
  background-color: rgb(74 74 74 / 76%);
  color: white;
  font-size: 12px;
  display: inline-block;
}

.card-name a {
  color: white;
  padding: 5px;
  display: inline-block;
}

.card-name a:hover {
  color: rgb(223, 223, 223);
  transition: all 0.3s ease-in-out;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(33, 33, 33);
  color: white;
  font-size: 12px;
}

.footer i {
  font-size: 20px;
  padding: 0 5px;
  padding-bottom: 5px;
}

.d-flex .i-small {
  font-size: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.footer-btn a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  display: inline-block;
}
.footer-btn a:hover {
  color: rgb(223, 223, 223);
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.footer-btn-end a {
  text-align: center;
  padding: 5px;
  background-color: var(--btn-color);
  color: red;
  padding: 22px 10px;
  text-decoration: none;
}
.footer-btn-end a:hover {
  transition: all 0.3s ease-in-out;
  background-color: rgb(88, 88, 88);
}
.fa-chevron-up:hover {
  color: rgb(223, 223, 223);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: rotate(180deg);
}
