* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  padding: 5px;
  padding-bottom: 30px;
  border: 1px solid white;
}
.container {
  width: 90vw;

  min-width: 300px;
  margin: 0 auto;
  padding: 30px 10px;
  border: 1px solid white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: rgb(33, 33, 33);
  border: 1px solid white;
}
